{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet">
{% endblock %}
{% block title %}
  {{ parent() }}
  Accueil - S'inscrire
{% endblock %}

{% block contenu %}

  {% if form.valide is defined %}
    {% if form.valide == true %}
      <h1 class="h3 mb-3 font-weight-normal">Inscription réussie</h1>
      <h1 class="h3 mb-3 font-weight-normal">Voici votre identifiant :
        {{form.email}}</h1>
      {% if form.role == 1 %}
        <h1 class="h3 mb-3 font-weight-normal">Vous êtes administrateur du site</h1>
      {% else %}
        <h1 class="h3 mb-3 font-weight-normal">Vous êtes un utilisateur du site
        </h1>
      {% endif %}
      <h1 class="h3 mb-3 font-weight-normal">
        <a href="index.php">Connectez-vous</a>
      </h1>
    {% else %}
      <h1 class="h3 mb-3 font-weight-normal">Echec de l'inscription</h1>
      <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1>
      <h1 class="h3 mb-3 font-weight-normal">
        <a href="index.php?page=inscrire">Retourner sur la page d'inscription</a>
      </h1>
    {% endif %}

  {% else %}
    <form class="form-signin" action="index.php?page=inscrire" method="post" enctype="application/x-www-form-urlencoded">
      <h1 class="h3 mb-3 font-weight-normal">Inscrivez-vous au tableau de bord</h1>
      <div class="form-group">
        <!-- <label for="inputEmail">Adresse e-mail</label> -->
        <input type="email" class="form-control" id="inputEmail" name="inputEmail" aria-describedby="emailHelp" placeholder="Adresse e-mail" required="required" autofocus="autofocus">
        <!-- <small id="emailHelp" class="form-text text-muted">Nous ne partagerons jamais votre email avec quelqu'un d'autre.</small> -->
      </div>
      <div class="form-group">
        <!-- <label for="inputPassword">Mot de passe</label> -->
        <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Mot de passe" required="required">
      </div>
      <div class="form-group">
        <!-- <label for="inputPassword2">Mot de passe</label> -->
        <input type="password" class="form-control" id="inputPassword2" name="inputPassword2" placeholder="Confirmer Mot de passe" required="required">
      </div>
      <div class="form-group">
        <!-- <label for="nom">Mot de passe</label> -->
        <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom" required="required">
      </div>
      <div class="form-group">
        <!-- <label for="prenom">Mot de passe</label> -->
        <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Prénom" required="required">
      </div>
      <br>
      <button type="submit" class="btn btn-lg btn-purple btn-block" name="btInscrire">S'inscrire</button>
      <a href="index.php">Se connecter</a>
    </form>

  {% endif %}
{% endblock %}
